/*Menu section*/
body {
	padding: 0px;
	margin: 0px;
}
.banner img {
}
.banner nav.menu li a {
    font-size: 120%;
    padding: 10px 10px;
}
nav.menu {
	width: 100%;
	display: inline-block;
}
nav.menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav.menu li {
    display: inline-block;
}
nav.menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
nav.menu li a:hover {
    background-color: #111;
}

/*Blocks section*/
div.block {
	width: 100%;
}

div.blockheader {
	font-size: 150%;
	font-weight: bold;
	display: block;
	text-align: center;
	width: 99.5%;
	color: white;
	background-color: #333;
	margin-bottom: 10px;
	padding: 3px;
	height: 33px;
}
div.blockHeader span {
	display: inline-block; 
	width: 100%;
}

/*User controls section*/
div.userinput {
	background-color: #CCA;
	display: block;
	border-style: solid;
	border-width: 1px;
	margin-left: 22%;
	padding: 25px;
	width: 50%;
	min-width: 200px;
	border-radius: 20px;
	margin-top:20px;
	margin-bottom:20px;
}
.userinput label {
	font-weight: bold;
	display: -webkit-inline-box;
	width: 150px;
	margin-bottom: 10px;
}
.input {
	display: -webkit-inline-box;
	margin-left:10px;
	margin-right:10px;
	width: 150px;
}
.button {
	color: #FFF;
	width: 120px;
	background-color: #333;
	vertical-align: top;
}

.search {
	position: absolute;
	right: 5px;
}
.search input {
	vertical-align: middle;
}

.sort {
	position: absolute;
	right: 280px;
}
.sort input {
	vertical-align: middle;
}

/*Auto complete section*/
.ui-autocomplete {
	background-color: #FFF;
}

/*Coloring for pokemon types*/
.bug { background-color: #A8B820 !important; }
.dark { background-color: #666 !important; }
.dragon { background-color: #cc9900 !important; }
.electric { background-color: #F8D030 !important; }
.fairy { background-color: #ff6699 !important; }
.fighting { background-color: #CC0000 !important; }
.fire { background-color: #F08030 !important; } 
.flying { background-color: #A890F0 !important; }
.ghost { background-color: #705898 !important; }
.grass { background-color: #78C850 !important; } 
.ground { background-color: #E0C068 !important; }
.ice { background-color: #98D8D8 !important; }
.normal { background-color: #A8A878 !important; }
.poison { background-color: #A040A0 !important; }
.psychic { background-color: #F85888 !important; }
.rock { background-color: #B8A038 !important; }
.steel { background-color: #B8B8D0 !important; }
.water { background-color: #6890F0 !important; }
.null {background-color: #666 !important; }

.fixed {
	position: fixed;
	top: 0px;
	z-index: 100;
}
.icon {
	display: inline-block;
	vertical-align: inherit;
}

/*Data tables*/
table.dataGrid {
	margin-width: 0px;
	width: 100%;
}
table tr.dataRowHeader:first-child {
	background-color: #333;
	font-size: 130%;
	color: white;
}
table tr.dataRow:nth-child(even) {
	background-color: #EEE;
}
table tr.dataRow:not(:first-child):hover {
	background-color: lightblue;
}
table tr.dataRow {
	font-size: 120%;
}
table th.dataHeader {
	padding: 12px;
}
table td.dataValue {
	padding: 10px;
	text-align: center;
}