/*Menu section*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 120%;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

/*Blocks section*/
.blockheader {
	font-size: 150%;
	display: block;
	text-align: center;
	color: white;
	background-color: #333;
	margin-top: 10px;
	padding: 0px;
	height: 32px;
}

/*User controls section*/
.userinput {
	background-color: #DDD;
	display: block;
	border-style: solid;
	border-width: 1px;
	margin-left: 25%;
	margin-right: 25%;
	padding: 20px;
	width: 50%;
	min-width: 200px;
	border-radius: 20px;
}
.userinput label {
	font-weight: bold;
	display: -webkit-inline-box;
	width: 150px;
	margin-bottom: 10px;
}
.input {
	display: -webkit-inline-box;
	margin-left:50px;
	width: 150px;
}
.button {
	font-size: 120%;
	background-color: aliceblue;
	border-radius: 8px;
}

/*Auto complete section*/
.ui-autocomplete {
	background-color: white;
}