/* Move Styles */
.moveHeader {
	background-color: gold;
	border-width: 2px 2px 0px 2px;
	border-style: outset;
}
.moveContent {
	background-color: lightgoldenrodyellow;
	border-width: 2px 2px 2px 0px;
	border-style: outset;
}
.moveHeader span.moveName {
	display: inline-block;
	font-size: 110%;
	font-weight: bold;
	width: 10%;
	min-width: 40px;
}
.moveHeader span.moveFlavor {
	display: inline-block;
	font-style: italic;
	width: 50%;
	min-width: 200px;
	margin-left: 10%;
	margin-right: 25%;
}
.moveHeader span.movePower {
	display: inline-block;
	font-weight: bold;
	float:right;
	width: 4%;
	min-width: 18px;
}
