/* Move Styles */
.moveHeader {
	border-width: 2px 2px 0px 2px;
	border-style: outset;
}
.moveContent {
	border-width: 2px 2px 2px 0px;
	border-style: outset;
}

div.moveHeader {
	height: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.moveHeader img.icon {
	display: inline-block;
	width: 25px;
	min-width: 25px;
	padding: 2px;
}
.moveHeader span.moveName {
	display: inline-block;
	font-size: 110%;
	font-weight: bold;
	width: 15%;
	min-width: 140px;
	margin-left: 20px;
}
.moveHeader span.moveDice {
	display: inline-block;
	width: 100px;
	min-width: 100px;
}
.moveHeader span.moveFlavor {
	display: inline-block;
	font-style: italic;
	width: 65%;
	min-width: 400px;
	margin-left: 20px;
}
.moveHeader span.moveValue {
	display: inline-block;
	font-size: 120%;
	font-weight: bold;
	width: 5%;
	min-width: 40px;
}

