@media print{
	body 
	{
		font-family: ;
		background-color:#FFF; 
		background-image: none; 
		color: #000;
	}
	#header { display: none; }
	#menu { display: none; }
	#sidebar { display: none; }

	.page 
	{ 
		width: 777px;
		height: 1017px;
		margin: 0px 19.2px;
		border: 0px; 
		padding: 0px; 
	}

	/*skeleton css translations*/
	.one.column, .one.columns { width: 64.75px;}
	.two.columns { width: 129.5px; }
	.three.columns { width: 194.25px;}
	.four.columns { width: 259px;}
	.five.columns { width: 323.75px; }
	.six.columns { width: 388.5px;}
	.seven.columns { width: 453.25px;}
	.eight.columns { width: 518px;}
	.nine.columns { width: 582.75px; }
	.ten.columns { width: 647.5px;}
	.eleven.columns { width: 712.25px;}
	.twelve.columns { width: 777px; }

}
