@media print{
	body 
	{
		background-image: none; 
		color: #000;
		padding:0px;
		margin:0% 5%;
		border: 0px;
		line-height: 1em !important;
		font-size: 10pt;
	}
	div { height: inherit !important; padding: 1px; margin-bottom: 2px !important;}

	#header { display: none; }
	#menu { display: none; }
	#sidebar { display: none; }

	.page { width: auto; height: auto; margin: 0in; border: 0in; padding: 0in; }

	h1 { font-size: 2.5rem !important; letter-spacing: -.1rem;}
	h2 { font-size: 2.20rem !important; letter-spacing: -.1rem; }
	h3 { font-size: 2.0rem !important; letter-spacing: -.1rem; }
	h4 { font-size: 1.75rem !important; letter-spacing: -.08rem; }
	h5 { font-size: 1.5rem !important; letter-spacing: -.05rem; }
	h6 { font-size: 1.25rem !important; letter-spacing: 0rem; }

	.icon { width: 14px !important;}

	table tr:first-child {
		color: black;
		font-size: 110%;
	}
	table tr th {
		height: 25px !important;
		border: solid 1px #000;
	}
	table tr td {
		height: 25px !important;
		text-align: center;
		border: solid 1px #000;
	}

	.moveHeader { border: 1px solid #000; }
	.moveContent {
		display: block !important;
		padding: 0px !important;
		border: 1px solid #000;
	}
	div.first-row { height: 118px !important; }
	
}

div { height: inherit !important; padding: 2px; margin-bottom: 5px;}

div.first-row { height: 190px;}
div.second-row { margin-top: 2px; margin-bottom: 2px;}
/*Pokemon aritcle layout*/
div.pokemon {
	border: 5px outset #000;
	border-radius: 15px;
}
div.pokemon:hover { background-color: lightblue; }

table tr th { height: 35px; }
table tr td { height: 50px; }

.actual { font-weight: 700 !important; }
.potential { color: #BBB; }
